@model SubletMe.Core.ViewModels.AddressViewModel

@{
    ViewBag.Title = "Home Page";
}

<style>
    li:hover {
        background: #fff;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    /*Change text in autofill textbox*/
    input:-webkit-autofill {
        -webkit-text-fill-color: yellow !important;
    }

    /*.ui-menu-item {
        margin: 0;
        padding: 0;
        zoom: 1;
        float: left;
        clear: left;
        width: 100%;
    }*/

    .ui-autocomplete li.ui-menu-item, .ui-autocomplete li.ui-menu-item:hover {
        background: #fff;
    }

    /*.ui-menu-item a {
        text-decoration: none;
        display: block;
        padding: .2em .4em;
        line-height: 1.5;
        zoom: 1;
    }*/
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#City").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/Index",
                    type: "POST",
                    dataType: "json",
                    data: { cityPrefix: request.term },
                    success: function (data) {
                        if (!data.length) {
                            var result = [
                                {
                                    label: "לא נמצו תוצאות",
                                    value: ""
                                }
                            ];
                            response(result);
                        } else {
                            response($.map(data, function (item) {
                                return { label: item.Name_He, value: item.Name_He };
                            }))
                        }
                    }, error: function () {
                        alert('something went wrong !');
                    }
                })
            },
            select: function (event, ui) {
                if (ui.item.label === "לא נמצו תוצאות") {
                    $("li").css("pointer-events", "none");
                } else {
                    $("#Street").prop("disabled", false);
                }
            },
            focus: function (event, ui) {
                if (ui.item.label === "לא נמצו תוצאות") {
                    $("li").css("pointer-events", "none");
                }
            }
        });

        $('#City').bind('input', function () {
            $("#Street").prop("disabled", true);
        });

        $("#Street").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/Index",
                    type: "POST",
                    dataType: "json",
                    data: {
                        streetPrefix: request.term,
                        cityPrefix: $("#City").val()
                    },
                    success: function (data) {
                        if (!data.length) {
                            var result = [
                                {
                                    label: "לא נמצו תוצאות",
                                    value: ""
                                }
                            ];
                            response(result);
                        } else {
                            response($.map(data, function (item) {
                                return { label: item.Name_He, value: item.Name_He };
                            }))
                        }
                    }, error: function () {
                        alert('something went wrong !');
                    }
                })
            },
            select: function (event, ui) {
                if (ui.item.label === "לא נמצו תוצאות") {
                    $("li").css("pointer-events", "none");
                }
            },
            focus: function (event, ui) {
                if (ui.item.label === "לא נמצו תוצאות") {
                    $("li").css("pointer-events", "none");
                }
            }
        });

        $('#City').bind('input', function () {
            $("#Street").prop("disabled", true);
        });
    })
</script>


<h2 class="text-center">ברוכים הבאים</h2>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("הוסף דירה/חדר להשכרה", "Index", "Add", new { area = "" }, new { @class = "addBox" })
        </div>
        <div class="col-md-6">
            @Html.ActionLink("הוסף דרישה לדירה/חדר", "Index", "Request", new { area = "" }, new { @class = "addBox" })
        </div>
    </div>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Cities.Name_He, "CityName", "City", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Streets.Name_He, "StreetName", "Street", new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Filter" class="btn btn-default" style="width: 100%" />
            </div>
        </div>
    </div>
}

<div class="clearfix"></div>
