@model SubletMe.Core.ViewModels.AddressViewModel

@{
    ViewBag.Title = "Home Page";
}

@*<style>
    .ui-autocomplete li.ui-menu-item, .ui-autocomplete li.ui-menu-item:hover {
        background: #fff;
    }
</style>*@

<script src="~/Content/AutoComplete.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".noResult").hide();

        AutoComplete("#City", "/Home/Index", ".cityNoResult", "#Street", false);
        AutoComplete("#Street", "/Home/Index", ".cityNoResult", "#Street", true);

        $('#City').bind('input', function () {
            $("#Street").prop("disabled", true);
            $("#Street").val("");
        });
    })
</script>


<h2 class="text-center">ברוכים הבאים</h2>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("הוסף דירה/חדר להשכרה", "Index", "Add", new { area = "" }, new { @class = "addBox" })
        </div>
        <div class="col-md-6">
            @Html.ActionLink("הוסף דרישה לדירה/חדר", "Index", "Request", new { area = "" }, new { @class = "addBox" })
        </div>
    </div>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Cities.Name_He, "CityName", "City", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="row noResult cityNoResult">
        <div class="form-group">
            <div class="col-md-12">
                <p> לא נמצאו תוצאות</p>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Streets.Name_He, "StreetName", "Street", new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Filter" class="btn btn-default" style="width: 100%" />
            </div>
        </div>
    </div>
}

<div class="clearfix"></div>
